<h2>
  <%=h @grapher %>
</h2>

<h3>
  Real Time Hourly Graph
</h3>
<div id="hourly" class="graph"></div>

<h3>
  Daily Graph
</h3>
<div id="daily" class="graph"></div>

<h3>
  Weekly Graph
</h3>
<div id="weekly" class="graph"></div>

<h3>
  Monthly Graph
</h3>
<div id="monthly" class="graph"></div>

<h3>
  Yearly Graph
</h3>
<div id="yearly" class="graph"></div>
