<h2>
  Sigh Monitoring Index
</h2>
<p>
  Please select your collector from the menu on the left.
</p>
<p>
  Or, if you'd like, play with some data.
</p>
<h3>
  Combine Collectors
</h3>
<p>
  Data just like that usually doesn't tell you much. If you combine it with other, even seemingly unrelated data, patterns may emerge. Try some combinations and see for yourself.
</p>
<p>
  <label for="first_collector">First collector:</label>
  <select id="first_collector">
    <% @hosts.each do |host| %>
      <% host[:collectors].each do |type, collectors| %>
        <% collectors.each do |collector| %>
          <option><%=h(host[:name] + '/' + type + '/' + collector[:name]) %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>
  <label for="second_collector">Second collector:</label>
  <select id="second_collector">
    <% @hosts.each do |host| %>
      <% host[:collectors].each do |type, collectors| %>
        <% collectors.each do |collector| %>
          <option><%=h(host[:name] + '/' + type + '/' + collector[:name]) %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>
  <label for="combine_scope">Scope:</label>
  <select id="combine_scope">
    <option>hourly</option>
    <option>daily</option>
    <option>weekly</option>
    <option>monthly</option>
    <option>yearly</option>
  </select>
  <button id="combine_collectors">Combine</button>
</p>
<div id="combine" class="graph"></div>
