<h2>
  Sigh Monitoring Index
</h2>
<p>
  Please select your collector from the menu on the right.
</p>
<p>
  Don't worry. Eventually this page will display something more useful than this text and a silhouette of a horse.
</p>
